.login-wrapper {
  display: flex;
  min-height: 100vh;
background-color: #000000; }

/* Align Top & Center Left Section */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.logo-img {
  width: 230px;
  margin-bottom: 20px;
  opacity: 0;
  transform: rotateX(90deg);
  animation: reveal 1s ease forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.login-card {
  width: 100%;
  max-width: 380px;
  background-color: #000000;
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 25px;
}

.forgot-password-wrapper {
  text-align: right;
  margin-bottom: 12px;
}

.forgot-password {
  color: #ffffff;
  font-size: 13px;
}

.login-button {
background: linear-gradient(135deg, #882ee9 0%, #ac82da 40%, #2e0658 100%) !important;

  border: none;
  height: 42px;
  font-weight: 600;
}

.login-button:hover {
background: linear-gradient(135deg, #882ee9 0%, #ac82da 40%, #2e0658 100%) !important;

  border: none;
  height: 42px;
  font-weight: 600;
}

/* Right Background Image */
.login-right {
  flex: 1;
  background: url("../assets/login.png") center/cover no-repeat;
  height: 100vh;
}

/* Mobile View */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-right {
    display: none;
  }
  .login-card {
    max-width: 100%;
    box-shadow: none;
    padding: 25px;
  }
}
